<%- include ('./partials/header') %>
    <div class="form-center">
      <div class="container mt-4">
        <h2 class="text-center">Change Password</h2>
        <form method="post" action="/changepassword">
          <input class="form-control" placeholder="current password" type="password" name="oldpassword" required><br>
          <input id="p1" class="form-control" minlength="6" placeholder="new password" type="password" name="newpassword" required><br>
          <input id="p2" class="form-control" minlength="6" placeholder="confirm password" type="password" required><br>
          <p id="message"></p>
          <input id="submit" class="btn btn-success" type="submit" name="submit">
        </form>
      </div>
    </div>
    <script src="/changepass_validate.js"></script>
<%- include ('./partials/footer') %>
